h1 {color: white;
    font-family: Alternate Gothic No2 D, Arial, Helvetica, sans-serif;
    font-size: 80px;
    letter-spacing: 1px;
    padding-top: 50px;
    padding-bottom: 50px;}

h2 {color: white;
    font-family: Myriad Pro, No2 D, Arial, Helvetica, sans-serif;
    font-size: 35px;
    font-weight: bold;}

body {background-color: #2d2d2d;
    color: white;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 30px;}

li {display: inline;
     margin-right: 30px;
    margin-left: 30px}

ul {font-family: sans-serif;
    color: white;
    font-weight: bold;
    margin: 40px;}

p {padding: 15px;}

a:link {color: white;
        text-decoration: none; 
        background-color: red;
        padding: 10px;
        padding-left: 30px;
        padding-right: 30px; }

a:visited {color: white;}

a:hover {background-color: ;}


#container {width: 980px;
            background-color: ;
            margin: 0px auto;
            padding: 15px}

.left {float: left;
       margin: 15px}


.right {float: right;
        margin: 15px}

.clear {clear: both}

.twocolumn {width: 350px;
            float: left;
            height: auto;
            margin: 15px}      





